.header h1{
    color: #FFBB5C;
}
.header {
  
    color: #fff;

    text-align: center;
}

.container {
    margin-top: 3%;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.rbh {
    font-weight: bolder;
    color: #CD5C08;
    text-align: center;
}
.form-control{
    background-color: transparent ;
}
.btn{
background-color: #FFBB5C;
}